* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  max-height: 100vh;
}
header {
  max-height: 900px;
  background-color: rgba(51, 33, 14, 0.4);
  padding-left: 7px;
}

header nav {
  display: flex;

  height: 20px;
  padding-top: 40px;

  opacity: 0px;
}
header nav .logo {
  width: auto;
  padding-left: 0px;
  justify-content: flex-start;
  line-height: 20px;
}
header nav .menu {
  padding-left: 50vw;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.description {
  height: 436px;
  top: 464px;
  padding: 0px 0px 40px 0px;
  opacity: 0px;
  margin-bottom: 40px;
}
.first {
  height: 186px;
  gap: 40px;
  opacity: 0px;
}
.description .first h2 {
  margin-top: 270px;
  height: 46px;
  font-size: 30px;
  font-weight: 300;
  line-height: 45px;
  letter-spacing: -2px;
  text-align: left;
  margin-bottom: 16px;
  text-transform: uppercase;

  color: white;
  font-family: "unbounded", sans-serif;
}
.first p {
  height: 36px;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #f9f2e8;
  padding-bottom: 40px;
}
.first button {
  background-color: #c9ec66;
  width: 201px;
  height: 48px;
  padding: 16px 16px 10px;
  font-family: "JetBrains Mono";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 40px;
  border: none;
  text-transform: uppercase;
}

.first button img {
  width: 16px;
  height: 16px;
  float: right;
}
.second ul {
  display: flex;
  list-style: none;
  font-family: "roboto";
  margin-top: 50px;
  font-size: 14px;
  margin-bottom: 40px;
}
.second ul li {
  font-family: "roboto";
  font-weight: 300;
  line-height: 22px;
  padding-left: 0px;
  color: white;
  margin-top: 40px;
}
.second ul li a {
  font-family: "roboto";
  font-weight: 300;
  line-height: 22px;
  text-decoration: none;
  color: white;
  opacity: 40%;
  padding-left: 15px;
}
.second p {
  display: block;
  font-weight: 200;
  line-height: 25px;
  text-align: left;
  font-family: "roboto";
  color: #f9f2e8;
  padding: 8px;
  padding-left: 0px;
}
@media (min-width: 360px) and (orientation: portrait) {
  header nav .menu {
    padding-left: 45vw;
    width: 25px;
    height: 25px;
  }
  header nav .logo {
    height: 25px;
  }
  .description .first h2 {
    margin-top: 300px;
    height: 56px;
    font-size: 38px;
  }
  .first p {
    height: 45px;
    font-size: 20px;
    padding-bottom: 30px;
  }
  .first button {
    width: 241px;
    height: 55px;
    font-size: 18px;

    margin-bottom: 40px;
  }
  .first button img {
    width: 18px;
    height: 18px;
  }
  .second ul {
    margin-top: 70px;
    font-size: 15px;
    margin-bottom: 60px;
  }
  .second ul li a {
    padding-left: 35px;
  }
  .second p {
    padding: 14px;
    font-size: 15px;
  }
}
@media (min-width: 410px) and (orientation: portrait) {
  header {
    min-height: 1000px;
  }
  header nav .menu {
    height: 30px;
  }

  .description .first h2 {
    margin-top: 400px;
    height: 60px;
  }
  .first p {
    height: 50px;
    padding-bottom: 35px;
  }
  .first button {
    width: 280px;
    height: 63px;
    font-size: 20px;

    margin-bottom: 40px;
  }
  .first button img {
    width: 20px;
    height: 20px;
  }
  .second ul {
    margin-top: 70px;
    font-size: 17px;
    margin-bottom: 60px;
  }
  .second ul li a {
    padding-left: 40px;
  }
  .second p {
    padding: 14px;
    font-size: 17px;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  header {
    min-height: 1200px;
    max-height: 1400px;
    padding-left: 25px;
  }
  header nav .logo {
    padding-left: 0;
  }

  header nav .menu {
    padding-left: 76vw;
    width: 30px;
    height: 30px;
  }
  .description .first h2 {
    margin-top: 450px;
    height: 80px;
    font-size: 59px;
    width: 511px;
  }
  .first p {
    height: 50px;
    font-size: 30px;
    padding-bottom: 45px;
    padding-top: 15px;
    width: 521px;
  }
  .first button {
    width: 330px;
    height: 70px;
    font-size: 22px;

    margin-bottom: 40px;
  }
  .first button img {
    width: 22px;
    height: 22px;
  }
  .second ul {
    margin-top: 120px;
    font-size: 24px;
    margin-bottom: 65px;
  }
  .second ul li a {
    padding-left: 40px;
  }
  .second p {
    padding-left: 0;
    padding-bottom: 25px;
    font-size: 24px;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  header {
    width: 100%;
    max-height: 900px;
    background-color: rgba(31, 31, 30, 0.32);
    padding-left: 20px;
  }
  header nav .menu {
    padding-left: 80vh;
    width: 20px;
    height: 20px;
  }
  header nav .logo {
    height: 20px;
    padding-left: 0px;
  }
  .description .first h2 {
    /* width: 100vw; */
    margin-top: 150px;
    height: 70px;
    font-size: 33px;
  }
  .first p {
    /* width: 100vw; */
    height: 30px;
    font-size: 17px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .first button {
    width: 250px;
    height: 50px;
    font-size: 17px;

    margin-bottom: 40px;
  }
  .first button img {
    width: 17px;
    height: 17px;
  }

  .second ul {
    margin-top: 70px;
    font-size: 15px;
    max-width: 50vw;
  }
  .second ul li a {
    padding-left: 40px;
  }
  .second p {
    font-size: 16px;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  header {
    width: 100%;
    max-height: 900px;
    background-color: rgba(31, 31, 30, 0.32);
    padding-left: 20px;
  }
  header nav .menu {
    width: 20px;
  }
  .description .first h2 {
    margin-top: 250px;

    font-size: 35px;
  }
  .first p {
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-bottom: 30px;
    padding-top: 0;
  }

  .second p {
    font-size: 16px;
  }
  .second ul {
    font-size: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .second ul li a:hover {
    opacity: 100;
    transition: 0.5s;
  }
}
@media (min-width: 1440px) and (orientation: landscape) {
  nav {
    width: 100%;
    margin-left: 10px;
  }
  header {
    width: 100%;
    max-height: 900px;
    background-color: rgba(31, 31, 30, 0.32);
    padding-left: 20px;
  }
  header nav .logo {
    width: 80px;
    height: auto;
  }
  header nav .menu {
    height: 25px;

    padding-left: 87vw;
  }

  .description .first h2 {
    width: 783px;
    height: 96px;
    font-size: 80px;
    font-weight: 300;
    line-height: 96px;
  }
  .first p {
    width: 783px;
    height: 36px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    padding-top: 50px;
  }
  .first button {
    width: 220px;
    height: 55px;
    padding: 16px 20px 16px 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
  }
  .first button img {
    width: 16px;
    height: 16px;
  }

  .second ul {
    width: 100%;
    height: 10px;
    padding-top: 50px;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
  .second ul li a {
    height: 22px;
    font-size: 18px;
    line-height: 22px;
  }
  .second p {
    margin-left: 84%;
  }
  .second ul li a:hover {
    opacity: 100;
    transition: 0.5s;
  }
}
.fsec .text {
  height: 230px;
  text-transform: uppercase;
  margin: 20px 8px 0;
}
.fsec .text h1 {
  width: 320px;
  height: 92px;
  font-family: Unbounded;
  font-size: 37px;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: -2px;
  text-align: left;
  color: rgba(31, 31, 30, 1);
}
.fsec .text h2 {
  height: 46px;

  font-family: Unbounded;
  font-size: 35px;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: -2px;
  text-align: left;
  color: rgba(31, 31, 30, 0.6);
}
.fsec .text h3 {
  height: 46px;
  font-family: Unbounded;
  font-size: 37px;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: -2px;
  text-align: left;
  color: rgba(31, 31, 30, 0.4);
}
.fsec .text h4 {
  height: 46px;
  font-family: Unbounded;
  font-size: 37px;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: -2px;
  text-align: left;
  color: rgba(31, 31, 30, 0.2);
}
.fsec .bg {
  width: 100%;
  height: 150px;
  background-color: rgba(196, 196, 196, 1);
  z-index: 1;
}
.fsec .bg p {
  width: 100%;
  margin: 20px 8px 0;
  height: 167px;
  margin-left: -105px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: "JetBrains Mono";
  font-size: 170px;
  font-weight: 700;
  line-height: 167.2px;
  letter-spacing: 14px;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 0 #bbbbba, -1px -1px 0 #bbbbba, 1px -1px 0 #bbbbba,
    -1px 1px 0 #bbbbba, 0px 0px 1px #ffffff;
  overflow: hidden;
}
.fsec main {
  font-family: "roboto";
  width: 80vw;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  margin: 20px 8px 0;
  height: 200px;
  color: rgba(31, 31, 30, 1);
}
.fsec button {
  display: flex;
  width: 250px;
  height: 48px;
  padding: 16px 20px 16px 20px;
  justify-content: space-between;
  background: rgba(31, 31, 30, 1);
  color: white;
  margin: 20px 8px 0;
  text-transform: uppercase;
}
.fsec button img {
  width: 15px;
  height: 15px;
}
@media (min-width: 768px) and (orientation: landscape) {
  .text {
    width: 343px;
    font-size: 28px;
    margin-left: 10vw;
  }

  .fsec main {
    font-family: "roboto";
    font-size: 17px;
    margin-left: 40vw;
    width: 270px;
  }
  .fsec button {
    margin-top: 30px;
    margin-left: 40vw;
    width: 200px;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  .text {
    width: 343px;
    font-size: 28px;
    margin-left: 10vw;
  }
  .fsec p {
    width: 100%;
    margin-left: 0;
  }
  .fsec main {
    font-family: "roboto";
    font-size: 17px;
    margin-left: 60vw;
    width: 270px;
  }
  .fsec button {
    margin-top: 30px;
    margin-left: 60vw;
    width: 200px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .fsec .text {
    width: 900px;
    height: 384px;
    margin-left: 155px;
    margin-top: 120px;
    margin-bottom: 118px;
  }
  .fsec .text h1 {
    font-size: 80px;
    line-height: 96px;
    width: auto;
    height: auto;
  }
  .fsec .text h2 {
    font-size: 80px;
    line-height: 96px;
    width: auto;
    height: auto;
  }
  .fsec .text h3 {
    font-size: 80px;
    line-height: 96px;
    width: auto;
    height: auto;
  }
  .fsec .text h4 {
    font-size: 80px;
    line-height: 96px;
    width: auto;
    height: auto;
  }
  .fsec main {
    font-family: "roboto";
    font-size: 20px;
    margin-left: 60vw;
    width: 270px;
  }
  .fsec button {
    margin-top: 80px;
    margin-left: 60vw;
    width: 250px;
  }
}
@media (min-width: 1400px) and (orientation: landscape) {
  .fsec.text {
    font-size: 80px;
    font-weight: 300;
    line-height: 96px;
    letter-spacing: -2px;
    text-align: left;
  }

  .fsec main {
    font-family: "roboto";
    font-size: 20px;
    margin-left: 60vw;
    width: 270px;
    margin-top: 150px;
  }
  .fsec button {
    margin-top: 80px;
    margin-left: 60vw;
    width: 250px;
  }
}
.ssec {
  background-color: rgba(31, 31, 30, 1);
  margin-top: 80px;
  min-height: 100%;
}

.head {
  padding: 80px 10px;
  font-family: "Unbounded";
  font-size: 25px;
  line-height: 58px;
  letter-spacing: -2px;
  text-align: left;
  margin-left: 16px;
}
.head h1 {
  color: white;
  font-weight: 300;
}
.head h2 {
  color: rgba(187, 187, 186, 1);
  font-weight: 300;
}
.ssec .images img {
  width: 24px;
  height: 24px;
  margin-bottom: 50px;
  margin-left: 15px;
  line-height: 35px;
}
.ssec .images {
  display: inline-flex;
  justify-content: space-between;
  width: 90%;
}
.list1 ul li {
  display: inline-block;
  width: 142px;
  height: 162px;
  list-style: none;
  text-transform: uppercase;
  font-family: "JetBrains Mono", sans-serif;
  color: rgba(187, 187, 186, 1);
  border-top: 0.4px solid grey;
  font-weight: 700;
  font-size: 35px;
  line-height: 38px;
  letter-spacing: -6px;
  text-align: left;
}
.list1 {
  padding: 48px 16px 80px 16px;
}
.list1 ul li sup {
  font-size: 13px;
  padding-left: 8px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0;
}
.ssec .images img:nth-of-type(1) {
  width: 59px;
  height: 35px;
  margin-right: auto;
}
.container {
  height: 250px;
  background-color: grey;
}
.list1 ul li p {
  text-transform: none;
  font-family: "roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 48px;
  line-height: 25.6px;
  text-align: left;
  letter-spacing: 0;
}
@media (min-width: 375px) {
  .list1 {
    padding-left: 20px;
  }
}
@media (min-width: 430px) {
  .list1 {
    padding-left: 40px;
  }
  .list1 ul li p {
    font-size: 16px;
  }
  .list1 ul li sup {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  .list1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .list1 ul li p {
    font-size: 15px;
  }
  .list1 ul li sup {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  .head {
    display: inline-block;
    border-left: 1px solid #bbbbba;
    height: 25px;
    margin-bottom: 112px;
    padding-left: 40px;
  }
  .container {
    height: 400px;
    margin-bottom: 64px;

    display: flex;
    justify-content: center;
  }
  .list1 {
    padding-left: 125px;
    width: auto;
  }
  .list1 ul li {
    padding-top: 48px;
  }
  .list1 ul li p {
    margin-top: 16px;
  }
  .ssec .images {
    display: flex;
    justify-content: flex-start;
    width: 71%;
  }
  .list1 ul {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .rest {
    margin-left: 15%;
    margin-right: 16%;
  }
  .ssec .images {
    width: 100%;
  }
  .list1 {
    padding-left: 0px;
  }
  .list1 ul li {
    width: auto;
    margin-right: 50px;
  }
  .list1 ul li:last-of-type {
    margin-right: 0px;
  }
}
@media (min-width: 1440px) and (orientation: landscape) {
  .head {
    font-size: 48px;
    line-height: 57.6px;
    margin-bottom: 112px;
    height: auto;
    margin-left: 40px;
  }
  .head h1 {
    padding-bottom: 40px;
    width: 100%;
  }
  .container {
    margin-top: 112px;
    height: 552px;
  }
  .rest {
    margin-left: 155px;
    margin-right: 158px;
  }
  .ssec .images {
    width: 100%;
  }
  .list1 ul li {
    font-size: 64px;
    line-height: 60.8px;
  }
  .list1 ul li sup {
    font-size: 16px;
    line-height: 22.4px;
  }
  .list1 ul li p {
    font-size: 16px;
    line-height: 25.6px;
  }
  .list1 {
    padding-left: 0px;
  }
  .list1 ul {
    width: 100%;
  }
  .list1 ul li {
    width: auto;
    height: auto;
    margin-right: 7%;
    padding-left: 0px;
  }
  .list1 ul li:last-of-type {
    margin-right: 0px;
  }
}
@media (min-width: 2550px) {
  .list1 ul li {
    margin-right: 11%;
    margin-left: 2%;
  }
  .list1 ul li {
    font-size: 80px;
  }
  .list1 ul li sup {
    font-size: 20px;
  }
  .list1 ul li p {
    font-size: 20px;
  }
}
.tsec .head {
  border-left: 1px solid #bbbbba;
  font-family: "Unbounded";
  font-size: 27px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: left;
  text-transform: uppercase;
  height: 20px;
  margin-bottom: 50px;
  margin-left: 16px;
}
.tsec .head h1 {
  color: #1f1f1e;
  padding-left: 10px;
}
.tsec .head h2 {
  color: #bbbbba;
  padding-left: 10px;
}
.photo {
  width: 100%;
  height: 400px;
  background-color: rgba(31, 31, 30, 0.2);
  color: white;
  font-family: "roboto";
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: left;
}
.tsec .photo h1 {
  height: 100%;
  display: flex;
  align-items: flex-end;

  padding-left: 16px;
  letter-spacing: -1px;
  text-align: left;
  font-size: 30px;
  font-weight: 200;
}
.tsec .photo img {
  margin-left: 16px;
}
.tsec .video {
  margin-top: 62px;
  background: rgba(31, 31, 30, 0.2);
  height: 620px;
  text-transform: uppercase;
  padding-left: 18px;
}
.tsec .video h1 {
  font-family: Unbounded;
  font-size: 30px;
  font-weight: 300;
  line-height: 45.6px;
  letter-spacing: -2px;
  text-align: left;
  color: white;
  margin-top: 48px;
}
.tsec .video h2 {
  font-family: Unbounded;
  font-size: 30px;
  font-weight: 300;
  line-height: 45.6px;
  letter-spacing: -2px;
  text-align: left;
  color: rgba(31, 31, 30, 0.3);
  font-family: Unbounded;
}
.tsec .video .text {
  border-left: 1px solid rgba(187, 187, 186, 1);
  padding-left: 24px;
  height: 124px;
}
.tsec .video img {
  padding-top: 180px;
}
@media (min-width: 768px) {
  .tsec .head {
    font-size: 45px;
    height: 80px;
    margin-bottom: 80px;
  }
  .tsec .head h1 {
    padding-bottom: 25px;
  }
  .tsec .video .text h1 {
    font-size: 45px;
    padding-bottom: 10px;
  }
  .tsec .video .text h2 {
    font-size: 45px;
  }
  .tsec .video .text {
    height: 150px;
  }
  .tsec .video img {
    margin-left: 10%;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .tsec .containers .video {
    background-color: rgba(51, 33, 14, 0.6);
    width: 100%;
    height: 620px;
  }
  .tsec .video img {
    padding-top: 0;
    margin-top: 500px;
    margin-left: 90%;
    margin-bottom: 48px;
  }

  .tsec .text {
    margin-top: -205px;
  }
  .tsec .video .text {
    height: auto;
  }
  .tsec .containers .photo {
    width: 627px;
    height: 555px;
    margin-left: 40px;
  }
  .tsec .containers .photo {
    width: 627px;
    height: 555px;
    margin-left: 40px;
  }
}
.fosec {
  background-color: rgba(31, 31, 30, 1);
  color: white;
  padding-left: 16px;
}
.fosec nav {
  padding-top: 40px;
}
.fosec nav ul li {
  font-family: "Unbounded";
  margin-top: 20px;
  font-size: 32px;
  font-weight: 300;
  line-height: 38.4px;
  letter-spacing: -2px;
  text-align: left;

  color: rgba(255, 255, 255, 0.4);
  list-style: none;
}
.fosec nav ul li:first-child {
  color: white;
  border-left: 1px solid rgba(187, 187, 186, 1);
  padding-left: 24px;
}
.fosec .design {
  margin-right: 40px;
}
.fosec .design p {
  font-family: "roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-top: 48px;
  margin-bottom: 56px;
}
.fosec .design h1 {
  font-family: "roboto";
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: left;
}
.fosec .design h1 p {
  margin-top: 16px;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  letter-spacing: 0;
  color: rgba(187, 187, 186, 1);
  margin-right: 16%;
}
.fosec .design h2 p {
  margin-top: 16px;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  letter-spacing: 0;
  color: rgba(187, 187, 186, 1);
  margin-right: 16%;
}
.fosec .design h3 p {
  margin-top: 16px;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  letter-spacing: 0;
  color: rgba(187, 187, 186, 1);
  margin-right: 16%;
}
.fosec .design h4 p {
  margin-top: 16px;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  letter-spacing: 0;
  color: rgba(187, 187, 186, 1);
  margin-right: 16%;
}
.fosec .design h2 {
  font-family: "roboto";
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: left;
}
.fosec .design h3 {
  font-family: "roboto";
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: left;
}
.fosec .design h4 {
  font-family: "roboto";
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: left;
}
.fosec button {
  display: flex;
  font-family: "JetBrains Mono";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: left;
  width: 250px;
  height: 48px;
  padding: 16px 20px 16px 20px;
  justify-content: space-between;
  background-color: white;
  color: rgba(31, 31, 30, 1);
  border: none;
  margin-bottom: 160px;
}
.fosec button img {
  width: 16px;
  height: 16px;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .fosec nav ul li {
    font-size: 48px;
    line-height: 57.6px;
    width: fit-content;
  }
  .fosec .design p {
    font-family: "roboto";
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
}
